@page "/about"
@rendermode InteractiveServer

<PageTitle>About Us - National Benchmark Tests</PageTitle>

<FluentStack Orientation="Orientation.Vertical" VerticalGap="24">
    <FluentBreadcrumb>
        <FluentBreadcrumbItem Href="/">Home</FluentBreadcrumbItem>
        <FluentBreadcrumbItem Href="/about">About</FluentBreadcrumbItem>
    </FluentBreadcrumb>

    <h1>About the National Benchmark Tests</h1>

    <FluentCard>
        <FluentStack Orientation="Orientation.Vertical" VerticalGap="16">
            <h2>Our Mission</h2>
            <p>
                The National Benchmark Tests project is committed to providing fair and accurate assessments
                of academic readiness for higher education in South Africa.
            </p>
        </FluentStack>
    </FluentCard>

    <FluentCard>
        <FluentStack Orientation="Orientation.Vertical" VerticalGap="16">
            <h2>What We Do</h2>
            <p>
                We develop and administer benchmark tests that measure academic literacy, quantitative literacy,
                and mathematics proficiency of prospective university students.
            </p>
        </FluentStack>
    </FluentCard>
</FluentStack>
