@page "/educators"
@rendermode InteractiveServer

<PageTitle>For Educators - National Benchmark Tests</PageTitle>

<FluentStack Orientation="Orientation.Vertical" VerticalGap="24">
    <FluentBreadcrumb>
        <FluentBreadcrumbItem Href="/">Home</FluentBreadcrumbItem>
        <FluentBreadcrumbItem Href="/educators">For Educators</FluentBreadcrumbItem>
    </FluentBreadcrumb>

    <h1>Information for Educators</h1>

    <FluentCard>
        <FluentStack Orientation="Orientation.Vertical" VerticalGap="16">
            <h2>Supporting Your Students</h2>
            <p>
                As an educator, you play a crucial role in preparing students for higher education.
                Here you'll find resources to help guide your students through the NBT process.
            </p>
        </FluentStack>
    </FluentCard>

    <FluentCard>
        <FluentStack Orientation="Orientation.Vertical" VerticalGap="16">
            <h2>Teaching Resources</h2>
            <p>
                Access sample questions, preparation guides, and other materials to help your students succeed.
            </p>
        </FluentStack>
    </FluentCard>
</FluentStack>
