@page "/institutions"
@rendermode InteractiveServer

<PageTitle>For Institutions - National Benchmark Tests</PageTitle>

<FluentStack Orientation="Orientation.Vertical" VerticalGap="24">
    <FluentBreadcrumb>
        <FluentBreadcrumbItem Href="/">Home</FluentBreadcrumbItem>
        <FluentBreadcrumbItem Href="/institutions">For Institutions</FluentBreadcrumbItem>
    </FluentBreadcrumb>

    <h1>Information for Institutions</h1>

    <FluentCard>
        <FluentStack Orientation="Orientation.Vertical" VerticalGap="16">
            <h2>Using NBT Results</h2>
            <p>
                Information for higher education institutions on how to interpret and use NBT results
                in their admissions processes.
            </p>
        </FluentStack>
    </FluentCard>

    <FluentCard>
        <FluentStack Orientation="Orientation.Vertical" VerticalGap="16">
            <h2>Partnership Opportunities</h2>
            <p>
                Learn about how your institution can partner with the NBT project.
            </p>
        </FluentStack>
    </FluentCard>
</FluentStack>
