@page "/news"
@rendermode InteractiveServer

<PageTitle>What's New - National Benchmark Tests</PageTitle>

<FluentStack Orientation="Orientation.Vertical" VerticalGap="24">
    <FluentBreadcrumb>
        <FluentBreadcrumbItem Href="/">Home</FluentBreadcrumbItem>
        <FluentBreadcrumbItem Href="/news">What's New</FluentBreadcrumbItem>
    </FluentBreadcrumb>

    <h1>News & Announcements</h1>

    <FluentCard>
        <FluentStack Orientation="Orientation.Vertical" VerticalGap="16">
            <FluentMessageBar Intent="MessageIntent.Info">
                No announcements at this time. Check back soon for updates.
            </FluentMessageBar>
        </FluentStack>
    </FluentCard>
</FluentStack>
